
div.hoover {
	background:rgb(150,150,150);
	color:rgb(0,51,204);
	border: solid 3px;
	border-color:rgb(170,170,170);
	position: absolute;
	text-align: center;		
	font: 10px sans-serif;
	margin:2px;
	padding:2px;
	border-radius: 8px;
	pointer-events: none;
	}
	
	
div.div1 {	
	background:rgb(150,150,150);
	color:rgb(0,51,204);
	border: solid 3px;
	border-color:rgb(170,170,170);
	font: 10px sans-serif;
	margin:2px;
	padding:2px;
	border-radius: 8px;
	pointer-events: all;
	cursor:crosshair; 
	position: static;
	top: 50px;
	left: 25px;	
	}
	
	.labelr{	
	color:rgb(50,100,250);
	font-family:Lucida;
	font-size: 25px;
	font-weight: 900;
	position: static;
	}

.hov {
	pointer-events: none;
	cursor:crosshair; 
	fill:red;	
	}

.g_main{
	pointer-events: all;
	cursor:crosshair; 
	}
	
.circle{
	pointer-events: all;
	}
	
	label:hover { color:rgb(200,50,200);}