<ng-container *ngIf="test==true">

  <div [class]="nodePassed_.cssType">
  <ng-container *ngFor="let i_ of nodePassed_.collection.array">
    <ng-container *ngIf="i_.show!=false">


        <div class="col-sm-8">
          {{i_.value}}
        </div>
        <div class="col-sm-8">
          <app-nodes [htmlItems_]="i_"></app-nodes>
        </div>


    </ng-container>
    </ng-container>
    </div>
</ng-container>

<ng-container *ngIf="test==false">

  <ng-container *ngFor="let i_ of nodePassed_.collection.array">
    <ng-container *ngIf="i_.show!=false">

      <div class="col-sm-8">
        {{i_.value}}
      </div>
      <div class="col-sm-8">
        <app-nodes [htmlItems_]="i_"></app-nodes>
      </div>

    </ng-container>
    </ng-container>

</ng-container>
