<script src="~/dist/sb/reactApp.bundle.js" type="text/javascript"></script>
<link href="~/js/Libs/React/tutorials/components/boardGame/boardGame.css" rel="stylesheet" type="text/css"/>

<div id="root"></div>
<script>
    var r = new reactApp.ReactContainer();

    //sample list check
    //r.ShoppingListInit();

    //boarding game button toggle check
    r.BoardGameInit();
</script>