<!-- <p>item works!</p> -->

<ng-container *ngIf="_item!=null">


<!-- Buttons items -->
<!-- ======================================================================= -->
  <div *ngIf="instanceCheck()=='Button'">
    <app-button [_button]="_item" [_object]="_object"></app-button>
  </div>
<!-- ======================================================================= -->


<!-- Quiz items  -->
<!-- ======================================================================= -->
<ng-container *ngIf="(instanceCheck()=='QuizItem')">

    <div [class]="_item.cssClass">
      <div *ngIf="typeCheck()=='AnswerNew'">
        {{this._item._name}}
      </div>
      <div *ngIf="typeCheck()=='QuizNew'">
        {{this._item._name}}
      </div>
      <div *ngIf="typeCheck()=='QuestionNew'">
        {{this._item._name}}
      </div>
    </div>

</ng-container>

<!-- ======================================================================= -->


<!-- Html controlls  -->
<!-- ======================================================================= -->
  <div *ngIf="(instanceCheck()=='HtmlItem')">
    <div [class]="_item.cssClass">
      <div class="label">{{_item._value}}</div>

      <div *ngIf="typeCheck()=='CheckBox'">
        <input type="checkbox" value="check" [(ngModel)]="this._item.HtmlSubmittedValue" (click)="clicked_($event)">
      </div>

      <div>
      <div *ngIf="typeCheck()=='DropDownControlMultiNew'">
        <app-dropdownmulti [htmlItem_]="this._item"></app-dropdownmulti>
      </div>
      </div>

      <div *ngIf="typeCheck()=='LabelControlNew'">
        <!-- <div class="label">{{_item._value}}</div> -->
      </div>

      <div *ngIf="typeCheck()=='TextControlNew'">
        <input type="text"
        [(ngModel)]="this._item.HtmlSubmittedValue"
        [maxlength]="this._item.maxLength"
        [minlength]="this._item.maxLength"
        [pattern]="this._item.pattern"
        [placeholder]="this._item.displayValue"
        (ngModelChange)="changeTextbox_($event)" #t>
      </div>

      <div *ngIf="typeCheck()=='RadioButton'">
        <div [class]="this._item.cssClass">
        <div *ngFor="let r of this._item.array">
          <input type="radio"
          [name]="this._item._name"
          [(ngModel)]="this._item.HtmlSubmittedValue"
          [value]="r._value">
          <label class='margin-left:10ch,margin-right:2ch'>{{r._value}}</label>
        </div>
        </div>
      </div>

      <div *ngIf="typeCheck()=='NumberPickerControlNew'">
        <app-gappicker-ng [itemValue_]="this._item"></app-gappicker-ng>
      </div>

      <div *ngIf="typeCheck()=='DatePickerControlNew'">
        <app-datepicker-popup [htmlItem_]="this._item"></app-datepicker-popup>
      </div>

    </div>
  </div>
<!-- ======================================================================= -->

</ng-container>
