<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="orient_auth_host" value="http://msk1-vm-ovisp02:2480/connect/news_test4" />
    <add key="orient_func_host" value="http://msk1-vm-ovisp02:2480/function/news_test4" />
    <add key="orient_batch_host" value="http://msk1-vm-ovisp02:2480/batch/news_test4" />
    <add key="orient_command_host" value=" http://msk1-vm-ovisp02:2480/command/news_test4" />
    <add key="ParentHost" value="msk1-vm-ovisp02" />
    <add key="ParentDBname" value="news_test2" />
    <add key="ParentLogin" value="root" />
    <add key="ParentPassword" value="" />
    <add key="ProdPassword" value="" />
    <add key="ChildHost" value="msk1-vm-ovisp02" />
    <add key="ChildDBname" value="news_test3" />
    <add key="ChildLogin" value="root" />
    <add key="ChildPassword" value="I9grekVmk5g" />
    <add key="GetAllClasses" value="select expand(classes) from metadata:schema" />
    <add key="CreateClass" value="create class {0} IF NOT EXISTS " />
    <add key="CreateClassNested" value="create class {0} IF NOT EXISTS EXTENDS {1}" />
    <add key="AlterClass" value="alter class {0} SUPERCLASS {1}" />
    <add key="CreateProperty" value="CREATE PROPERTY {0}.{1} IF NOT EXISTS {2}" />
    <add key="InsertEntityCommand" value="INSERT INTO {0} CONTENT {1}" />
    <add key="SelectCommand" value="SELECT {0} FROM {1}" />
    <add key="SelectWhereCommand" value="SELECT {0} FROM {1} where {2}" />
    <add key="CreateEdge" value="CREATE EDGE {0} FROM {1} to {2}" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>