<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
	<script src="C:/workflow/projects/common/js/jquery-3.2.1.min.js"></script>
	<script src="C:/workflow/projects/common/js/angular.min.js"></script>
	<script src="js.js"></script>
</head>
<body>

	<div id="App1" data-ng-app="appOne" data-ng-init="name='a';id2='init at html'"  data-ng-controller='defaultController'">
	<p>Name: <input type="text" data-ng-model="name"></p>
	<p data-ng-bind="name"></p>
	
		<div>
			<p>Id: <input type="text" data-ng-model="id1"></p>
			<p data-ng-bind="id1"></p>
		</div>
		<div>
			<p>Id: <input type="text" data-ng-model="id2"></p>
			<p data-ng-bind="id2"></p>
			<p>{{"id1+1="+id1+1}}</p>
			<p>{{id1+id2+name}}</p>
		</div>
		
	<input style="background-color:{{color1}}" ng-model="color1" value="{{color1}}">
	
	</div>
	
	<p style="border-top: 5px solid;border-bottom: 4px solid;"></p>
	
	<div id="App2" data-nd-app="textapp"  data-ng-controller="textController">
	
		<input style="background-color:{{color2}}" ng-model="color2" value="{{color2}}">
	
		<input type="text" data-ng-model="textmodel1" ng-change="func1()">
		<p data-ng-bind="textmodel1"></p>
		<p>{{textmodel2}}</p>
		
	</div>
	
	<p style="border-top: 5px solid;border-bottom: 4px solid;"></p>
	<div id="App3" data-nd-app="secapp"  data-ng-controller="secondaryController">
		<input style="background-color:{{color3}}" ng-model="color3" value="{{color3}}">
	</div>
	
</body>
</html>

