
@{
    ViewBag.Title = "news";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="full-background">
    <img id="bi" src="../Content/img/bg/wt/01.jpg">
    <div id="background-overlay"></div>
</div>
<div class="grid condensed">
    <div class="row cells5">
        <div class="cell"></div>
        <div class="cell colspan3">
        <div class="red-logo"></div>
        
        2</div>
        <div class="cell"></div>
    </div>
    <div class="row cells5">
        <div class="cell"></div>
        <div class="cell colspan3">2</div>
        <div class="cell"></div>
    </div>
        <div class="row cells5">
        <div class="cell"></div>
        <div class="cell colspan3">2</div>
        <div class="cell"></div>
    </div>
</div>


