<ng-container *ngIf="test==true">
{{cName}}

<div class="container-fluid">
  <div class="dd">
    <button class="btn btn-secondary dropdown-toggle ddbtn" (click)="dm.hidden=!dm.hidden">MultiDrop</button>
    <div class="dd-menu" hidden="true" #dm>
      <ng-container *ngFor="let i_ of htmlItem_.collection.array">
        <a class="dd-item" (hover)="background=rgba(200,200,200,0.8)">
        <app-nodeitem [htmlItem_]="i_"></app-nodeitem>
        </a>
      </ng-container>
    </div>
  </div>
</div>

</ng-container>

<ng-container *ngIf="test==false">
  <button (click)="sl.hidden=!sl.hidden">Select</button>
  <div #sl>
    <ng-container *ngFor="let i_ of htmlItem_.collection.array">
      <app-nodeitem [htmlItem_]="i_"></app-nodeitem>
    </ng-container>
  </div>
</ng-container>
