<ng-container *ngIf="test==true">
{{cName}}

<div class="container-fluid">
  <div class="dd">
    <button class="btn btn-secondary dropdown-toggle ddTgl ddBtn" (click)="dm.hidden=!dm.hidden">MultiDrop</button>
    <div class="dd-menu" hidden="true" #dm>
      <ng-container *ngFor="let i_ of htmlItem_.collection.array">
        <div #di class="dd-item" (click)="clicked_($event,i_)"
        [class.ddSelected]="isSelected(i_)"
        (mouseenter)="mouseenter_($event)"
        (mouseleave)="mouseleave_($event)">
        <app-nodeitem [htmlItem_]="i_"></app-nodeitem>
        </div>
      </ng-container>
    </div>
  </div>
</div>

</ng-container>

<ng-container *ngIf="test==false">


  <div class="container-fluid">
    <div class="dd">
      <button class="btn btn-secondary dropdown-toggle ddTgl ddBtn" (click)="dm.hidden=!dm.hidden">MultiDrop</button>
      <div class="dd-menu" hidden="true" #dm>
        <ng-container *ngFor="let i_ of htmlItem_.collection.array">
          <div #di class="dd-item" (click)="clicked_($event,i_)"
          [class.ddSelected]="isSelected(i_)"
          (mouseenter)="mouseenter_($event)"
          (mouseleave)="mouseleave_($event)"
          >
            <app-nodeitem [htmlItem_]="i_"></app-nodeitem>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

</ng-container>
