<script src="~/dist/sb/appOne.bundle.js" type="text/javascript"></script>

<button onclick="appOne.Mediator().EmitFromMediator()">Emit</button>

<script>
    
    //check app one
    appOne.Mediator().Register();
    
</script>
