<script src="~/dist/sb/appTwo.bundle.js" type="text/javascript"></script>

<button onclick="app.Emit()">Emit</button>

<script>
    
    //check app one
    var app = new appTwo.AppTwo();
    app.Init();
    
</script>
