<ng-container *ngIf="test==true" class="component">
  <!-- Generate form control from model class -->
  <div class="flex-container wtc">
  <br style="margin-top:5ch">

    <ng-container *ngIf="controlType()=='TextControl'">
      <div class="row">
        {{this.itemPassed_.value}}
        <input type="text"
        [(ngModel)]="this.itemPassed_.displayValue"
        [maxlength]="this.itemPassed_.maxLength"
        [minlength]="this.itemPassed_.maxLength"
        [pattern]="this.itemPassed_.pattern"
        [placeholder]="this.itemPassed_.displayValue"
        (ngModelChange)="changeTextbox_($event)" #t>
      </div>
    </ng-container>

    <ng-container *ngIf="controlType()=='CheckBoxControl'">
      <div class="row">
        {{this.itemPassed_.value}}
        <input type="checkbox" value="check" [(ngModel)]="this.itemPassed_.HtmlSubmittedValue">
      </div>
    </ng-container>

    <ng-container *ngIf="controlType()=='RadioButtonControl'">
      <div class="flex-container wtc">
        {{this.itemPassed_.value}}
        <ng-container *ngFor="let r of this.itemPassed_.collection.array">
          <div class="flex-container hrz">
            <input type="radio"
            [name]="this.itemPassed_.name"
            [(ngModel)]="this.itemPassed_.HtmlSubmittedValue"
            [value]="r.value">
            {{r.value}}
          </div>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="controlType()=='DatePickerControl'">
        <div class="flex-container wtc">
          <app-datepicker-popup [itemParameter_]="this.itemPassed_"></app-datepicker-popup>
        </div>
    </ng-container>

    <ng-container *ngIf="controlType()=='NumberPickerControl'">
        <div class="flex-container hrz">
          <app-gappicker-ng [itemValue_]="this.itemPassed_"></app-gappicker-ng>
        </div>
    </ng-container>

  
  </div>
</ng-container>
<ng-container *ngIf="test==false" class="component">
</ng-container>
