<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="orient_auth_host" value="http://msk1-vm-ovisp02:2480/connect/news_test5"/>
    <add key="orient_func_host" value="http://msk1-vm-ovisp02:2480/function/news_test5"/>
    <add key="orient_batch_host" value="http://msk1-vm-ovisp02:2480/batch/news_test5"/>
    <add key="orient_command_host" value="http://msk1-vm-ovisp02:2480/command/news_test5"/>      
    <add key="log_file" value="C:\news_api_log\news_api_log.txt"/>
    <add key="orient_id_name" value="Id"/>
    <add key="elements_included_html" value="other"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="AdinTceUrl" value="http://msk1-vm-onesweb01/nspk_zup/hs/Portal_Holiday/location" />
    <add key="AuthURL" value="connect"/>
    <add key="FunctionURL" value="function"/>
    <add key="BatchURL" value="batch"/>
    <add key="CommandURL" value="command"/>
    <add key="AdinTceLogin" value="WS" />
    <add key="AdinTcePassword" value="12345qweQWE!@#" />
    <add key="OrientTargetHost" value="http://msk1-vm-ovisp02"/>
    <add key="OrientSourceHost" value="http://msk1-vm-ovisp02"/>
    <add key="OrientProdHost" value="http://msk1-vm-indb01.nspk.ru"/>
    <add key="OrientTestHost" value="http://msk1-vm-ovisp02"/>
    <add key="HttpDevHost" value="http://localhost"/>
    <add key="OrientProdDB" value="news_prod" />
    <add key="OrientDevDB" value="dev_db" />
    <add key="OrientSourceDB" value="Orgchart_prod" />
    <add key="IntranetDB" value="Intranet" />
    <add key="TestPort" value="8000"/>
    <add key="OrientPort" value="2480"/>
    <add key="OrientDateTime" value="yyyy-MM-dd HH:mm:ss"/>
    <add key="OrientUnitTestDB" value="news_prod" />
    <add key="OrientDevDB" value="dev_db" />    
    <add key="IntranetDB" value="Intranet" />
    <add key="orient_login" value="root"/>
    <add key="orient_pswd" value="I9grekVmk5g"/>
    <add key="orient_dev_login" value="root"/>
    <add key="orient_dev_pswd" value="I9grekVmk5g"/>
    <add key="orient_prod_pswd" value="mR%mzJUGq1E"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    
    <authentication mode="Windows"/> 
    
    <!--
    <authentication>
    <anonymousAuthentication enabled="true" userName="" />
    <basicAuthentication enabled="false" />
    <clientCertificateMappingAuthentication enabled="false" />
    <digestAuthentication enabled="false" />
 
    <iisClientCertificateMappingAuthentication enabled="false">
    </iisClientCertificateMappingAuthentication>
 
      <windowsAuthentication enabled="true">
          <providers>
              <add value="Negotiate" />
              <add value="NTLM" />
          </providers>
      </windowsAuthentication>
    </authentication>
    -->
    
    <authorization>
      <!--For localhost test
      <allow users="?"/>-->
      <!--for deploy -->
    <allow verbs="OPTIONS" users="*"/>
      <allow users="?"/>
      <!--<deny users="?"/>-->
    </authorization>
  </system.web>
  
  <system.webServer>
    
      <!--
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*" />
          <add name="Access-Control-Allow-Headers" value="Content-Type" />
          <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
          <add name="Access-Control-Allow-Credentials" value="true" />
        </customHeaders>
      </httpProtocol>
      -->
    
      <!--
      <handlers>
        <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
        <remove name="TRACEVerbHandler"/>
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
        <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
        <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
        <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
        <remove name="WebDav"/>
        <remove name="OPTIONSVerbHandler"/>
        <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="None"/>
        <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
        <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      </handlers>
      -->
    
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDavModule"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.0" newVersion="4.6.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>