<ng-container *ngIf="test==true">
  <ng-container *ngIf="node_!=null">

    <div class="row">
      <div class="col-sm-4">
        {{node_._value}}
      </div>

      <app-button [_buttons]="buttons_" [_obj]="node_"></app-button>

    </div>

  </ng-container>
</ng-container>

<ng-container *ngIf="test==false">
  <ng-container *ngIf="node_!=null">

    <div class="row">
      <div class="col-sm-4">
        {{node_._value}}
      </div>

      <app-button [_buttons]="buttons_" [_obj]="node_"></app-button>

    </div>

  </ng-container>
</ng-container>
