body {
    background-color: #444;
}

#stub{
    visibility: hidden;
    z-index: -10;
    color: #000;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.overflow-hidden{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fio{
    font: 300 1.125rem/1.1 "Segoe UI", "Open Sans", sans-serif, serif;
}

.cursor-default{
    cursor: default !important;
}

.card-noobs{
    width: 15rem;
    /* display: -ms-inline-grid; */
    display: inline-grid;
    display: -ms-inline-flexbox;
    display: -ms-inline-grid;
    position: static;
    /* min-height: 8.3rem; */
    padding: .375rem;
    vertical-align: top;
    /* display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; */
}

.r.text{
    /* font: 400 .85rem/1.25 "Segoe UI", "Open Sans", sans-serif, serif !important; */
    line-height: 1.25rem !important;
    float: left;
    display: inline-block;
    vertical-align: top;
    
}

.dark-overlay{
    background-color: rgba(29,29,29,.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: 1049;
}

.overlay-btn{
    position: fixed !important;
    z-index: 20000;
}

#full-img{
    min-width: 100% !important;
    min-height: 100% !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
}

.gal{
    margin: 5px auto;
    /*border-radius: 50%;*/
    border: 2px solid #999;
}

#msnr{
    /*background-color: #555555 !important;*/
    /* padding-left: 15px; */
    padding-top: 5px;
    margin-bottom: 200px;
    /*background: url(../img/overlays/black-diagonal-lines.png) repeat;*/
}

.SmartSticky{
    /*Stab for smart sticky function*/
}

#maskTop{
    visibility: hidden;
    z-index: -10;
    background-color: #000 !important;
    user-select: none !important;
    position: absolute !important;
}

#maskBottom{
    visibility: hidden;
    z-index: -10;
    background-color: #000 !important;
    user-select: none !important;
    position: absolute !important;
}

#maskRight{
    visibility: hidden;
    z-index: -10;
    background-color: #000 !important;
    user-select: none !important;
    position: absolute !important;
}

#maskLeft{
    visibility: hidden;
    z-index: -10;
    background-color: #000 !important;
    user-select: none !important;
    position: absolute !important;
}

.blur2px {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.blur5px {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}


#full-background {
    position: fixed;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    z-index: -1;
}

#modal-mask {
    position: fixed;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    z-index: -100;
    background: #000;
}

#main_panel{
    margin: 5px;
    width: 100%;
}

#main_panel_wraper{
    display: table;
    margin: 0 auto; 

}

.listLogin{
    font-family: 'Times New Roman', Times, serif; /* Шрифт с засечками */
    font-style: italic; /* Курсивное начертание */
}

.text-cut{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.p-wraper{
    width: 312px !important;
    height: min-content;
/*  float: left;*/
    margin: 1px;
    box-shadow: inset 0 0 1px #FFC;
    cursor: pointer;
    position: relative;
    display: block;
    -moz-user-select: none;
    user-select: none;
    overflow: visible;
}

div#full-background img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    z-index: -1;
    /*content: url(../img/bg/rc2.jpg);*/
}

#background-overlay {
    background: url(../img/overlays/black-dots.png) repeat;
    width: 100%;
    height: 100%;
}

#gal-overlay {
    background: url(../img/overlays/black-diagonal-lines.png) repeat;
    width: 100%;
    height: 100%;
}
 #img-index{
    font-size: 1.05rem;
    line-height: 1;
    width: 2.55rem;
    height: 2.55rem;
 }

.main-title {
    padding-top: 5px;
}

.op-block {
    top: 45px;
    position: absolute;
    background: url(../img/overlays/gr.png) repeat;
    width: 100%;
    height: 630px;
    z-index: -1;
    /*opacity: .7;
    background: #161515;
    -moz-opacity: .7;
    -khtml-opacity: .7;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=70);
    filter: alpha(opacity=70);*/
}

.logo {
    background: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 250px auto;
}


.nomargin{
    margin: 0 !important;
}

.bg-c-red {
    background-color: #e72300!important;
}

.bg-c-gray {
    background-color: #ddd!important;
}

.bg-c-darckGrey {
    background-color: #2c2e31!important;
}

.bg-transparent {
    background-color: transparent !important;
}


/*.container {
    margin-left: 5px;
    min-width: 80px;
    width: auto;
    float: left;
    display: block;
    padding-top: 40px;
    position: relative;

    width: 960px;
    margin: 0 auto;
}
*/

.menu {
    top: 200px !important;
    position: fixed !important;
}

.sticky {
    top: 0 !important;
    position: fixed !important;
}

.app-bar.compact .app-bar-menu > li,
.app-bar.compact .app-bar-menu > li > a,
.app-bar.compact .app-bar-element {
    line-height: 2.625rem !important;
    padding: 0 .625rem;
    font-size: 1rem !important;
    height: 2.625rem !important;
}

.app-bar.compact .app-bar-divider {
    line-height: 2.625rem !important;
    font-size: 1rem !important;
    height: 2.625rem !important;
}

.app-bar.compact .app-bar-element .d-menu,
.app-bar.compact .app-bar-menu > li .d-menu {
    line-height: 2.625rem !important;
    font-size: 1rem !important;
    height: 2.625rem !important;
}
.app-bar.compact .app-bar-menu > li .d-menu {
    top: 100%;
    border: 1px;
}

.app-bar.c-red {
  background-color: #e72300;
}
.app-bar.c-red .app-bar-element:hover,
.app-bar.c-red .app-bar-menu > li:hover,
.app-bar.c-red .app-bar-menu > li > a:hover,
.app-bar.c-red .app-bar-element:active,
.app-bar.c-red .app-bar-menu > li:active,
.app-bar.c-red .app-bar-menu > li > a:active {
  background-color: #9a1616;
}
.app-bar.c-red .app-bar-divider {
  background-color: #fa6e64;
}
.app-bar.c-red .app-bar-element .d-menu,
.app-bar.c-red .app-bar-menu > li .d-menu {
  background-color: #e72300;
  border-color: transparent;
}
.app-bar.c-red .app-bar-element .d-menu li:not(.disabled) > a,
.app-bar.c-red .app-bar-menu > li .d-menu li:not(.disabled) > a,
.app-bar.c-red .app-bar-element .d-menu li > a,
.app-bar.c-red .app-bar-menu > li .d-menu li > a {
  background-color: #e72300;
  color: #ffffff;
}
.app-bar.c-red .app-bar-element .d-menu li:not(.disabled) > a:hover,
.app-bar.c-red .app-bar-menu > li .d-menu li:not(.disabled) > a:hover,
.app-bar.c-red .app-bar-element .d-menu li > a:hover,
.app-bar.c-red .app-bar-menu > li .d-menu li > a:hover {
  background-color: #9a1616;
  color: #ffffff;
}
.app-bar.c-red .app-bar-element .d-menu li:hover > a,
.app-bar.c-red .app-bar-menu > li .d-menu li:hover > a {
  background-color: #9a1616;
}
.app-bar.c-red .app-bar-element .d-menu .divider,
.app-bar.c-red .app-bar-menu > li .d-menu .divider {
  background-color: #fa6e64;
}
.app-bar.c-red .app-bar-element .d-menu .divider:hover,
.app-bar.c-red .app-bar-menu > li .d-menu .divider:hover {
  background-color: #fa6e64;
}
.app-bar.c-red .app-bar-element .dropdown-toggle:before,
.app-bar.c-red .app-bar-menu li .dropdown-toggle:before {
  border-color: #ffffff;
}
.app-bar.c-red .app-bar-element.disabled,
.app-bar.c-red .app-bar-menu li.disabled,
.app-bar.c-red .app-bar-element:disabled,
.app-bar.c-red .app-bar-menu li:disabled {
  color: #555555;
}
.app-bar.c-red .app-bar-element.disabled a,
.app-bar.c-red .app-bar-menu li.disabled a,
.app-bar.c-red .app-bar-element:disabled a,
.app-bar.c-red .app-bar-menu li:disabled a {
  color: inherit !important;
}
.app-bar.c-red .app-bar-pullbutton:hover {
  background-color: #9a1616;
}
.app-bar.c-red .app-bar-drop-container {
  border: 2px solid #e72300;
  background-color: #e72300;
  color: #ffffff;
}
.app-bar.c-red .app-bar-drop-container:before {
  background-color: #e72300;
  border-color: #e72300;
}
.app-bar.c-red .app-bar-pullmenu .app-bar-menu {
  border-top: 1px solid #da5a53;
  background-color: #da5a53;
}
.app-bar.c-red .app-bar-pullmenu .app-bar-menu li:hover {
  background-color: #e72300;
}
.app-bar.c-red .app-bar-pullmenu .app-bar-menu li:hover a {
  background-color: #9a1616;
  color: #ffffff;
}

.c-wraper {
    /*
    width: 310px !important;
    height: min-content;
    float: left;
    box-shadow: inset 0 0 1px #FFC; 
    margin: 1px;
    cursor: pointer;
         */
    position: relative;
    display: block;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*overflow: visible;*/
}