<ng-container *ngIf="test==true">
{{cName}}
<div class="row">
  DropDownControlMultiNg
  <ss-multiselect-dropdown
    [options]="myOptions"
    [(ngModel)]="optionsModel"
    (ngModelChange)="onChange($event)">
  </ss-multiselect-dropdown>
</div>

</ng-container>

<ng-container *ngIf="test==false">
  <div [class]="this.htmlItem_.cssClass">
    <!-- DropDownControlMultiNg -->
    <ss-multiselect-dropdown
      [options]="myOptions"
      [(ngModel)]="optionsModel"
      (ngModelChange)="onChange($event)">
    </ss-multiselect-dropdown>
  </div>

</ng-container>
