<ng-container *ngIf="test==true">
    <ng-container class="row">
      <ng-container class="col-sm">
        <app-button [_buttons]="buttons_" [_obj]="nodes_"></app-button>
      </ng-container>
    </ng-container>
    <hr>

    <ng-container *ngFor="let qz_ of nodes_.collection.array">
      <app-item [node_]=qz_></app-item>
    </ng-container>

</ng-container>

<ng-container *ngIf="test==false">
    <div class="row">
      <div class="col-sm">
        <app-button [_buttons]="buttons_" [_obj]="nodes_"></app-button>
      </div>
    </div>
    <hr>

    <ng-container *ngFor="let qz_ of nodes_.collection.array">
      <app-item [node_]=qz_></app-item>
    </ng-container>

</ng-container>
