<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="orient_auth_host" value="http://msk1-vm-ovisp02:2480/connect/news_test5" />
    <add key="orient_func_host" value="http://msk1-vm-ovisp02:2480/function/news_test5" />
    <add key="orient_batch_host" value="http://msk1-vm-ovisp02:2480/batch/news_test5" />
    <add key="orient_command_host" value="http://msk1-vm-ovisp02:2480/command/news_test5" />
    <add key="AuthURL" value="connect" />
    <add key="FunctionURL" value="function" />
    <add key="BatchURL" value="batch" />
    <add key="CommandURL" value="command" />
    <add key="GETPOSTHost" value=" http://httpbin.org/" />
    <add key="POSTHost" value="http://httpbin.org/post" />
    <add key="HttpDevHost" value="http://duckduckgo.com" /> 
    <add key="ProdPassword" value="mR%mzJUGq1E" />
    <add key="OrientDevHost" value="msk1-vm-ovisp02" />
    <add key="OrientTestDB" value="news_test3" />
    <add key="ChildLogin" value="root" />
    <add key="ChildPassword" value="I9grekVmk5g" />
    <add key="GetAllClasses" value="select expand(classes) from metadata:schema" />
    <add key="CreateClass" value="create class {0} IF NOT EXISTS " />
    <add key="CreateClassNested" value="create class {0} IF NOT EXISTS EXTENDS {1}" />
    <add key="AlterClass" value="alter class {0} SUPERCLASS {1}" />
    <add key="CreateProperty" value="CREATE PROPERTY {0}.{1} IF NOT EXISTS {2}" />
    <add key="InsertEntityCommand" value="INSERT INTO {0} CONTENT {1}" />
    <add key="SelectCommand" value="SELECT {0} FROM {1}" />
    <add key="SelectWhereCommand" value="SELECT {0} FROM {1} where {2}" />
    <add key="CreateEdge" value="CREATE EDGE {0} FROM {1} to {2}" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AdinTceUrl" value="http://msk1-vm-onesweb01/nspk_zup/hs/Portal_Holiday/location" />
    <add key="AdinTceLogin" value="WS" />
    <add key="AdinTcePassword" value="12345qweQWE!@#" />
    <add key="OrientDevHost" value="http://msk1-vm-ovisp02"/>
    <add key="OrientTargetHost" value="http://msk1-vm-ovisp02"/>
    <add key="OrientSourceHost" value="http://msk1-vm-ovisp02"/>
    <add key="OrientProdHost" value="http://msk1-vm-indb01.nspk.ru"/>
    <add key="OrientTestHost" value="http://msk1-vm-ovisp02"/>
    <add key="HttpDevHost" value="http://localhost"/>
    <add key="OrientProdDB" value="Orgchart_prod" />
    <add key="OrientDevDB" value="dev_db" />
    <add key="OrientSourceDB" value="Orgchart_prod" />
    <add key="IntranetDB" value="Intranet" />
    <add key="TestPort" value="8000"/>
    <add key="OrientPort" value="2480"/>
    <add key="OrientDateTime" value="yyyy-MM-dd HH:mm:ss"/>
    <add key="OrientUnitTestDB" value="test_db" />
    <add key="OrientDevDB" value="dev_db" />  
    <add key="IntranetDB" value="Intranet" />
    <add key="orient_login" value="root"/>
    <add key="orient_pswd" value="I9grekVmk5g"/>
    <add key="orient_dev_login" value="root"/>
    <add key="orient_dev_pswd" value="I9grekVmk5g"/>
    <add key="orient_prod_pswd" value="mR%mzJUGq1E"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>