<!DOCTYPE html>
 <meta charset="UTF-8">
<html>
<head>
	<script src="d3.min.js"></script>
	<script src="js.js"></script>
	<link rel="stylesheet" href="css.css">
</head>
<body>

<button onClick="log_()">Log</button>

 <svg width="400" height="220">
    <g transform="translate(5, 5)">
      <g class="links"></g>
      <g class="nodes"></g>
    </g>
  </svg>

  <div class="container"></div>

  <!--custom svg exmpl-->
  <svg width="400" height="220">
   <g stroke="green" fill="white" stroke-width="5">
     <circle cx="25" cy="25" r="15"/>
     <circle cx="40" cy="25" r="15"/>
     <circle cx="55" cy="25" r="15"/>
     <circle cx="70" cy="25" r="15"/>
   </g>
</svg>

</body>
</html>
