<ng-container *ngIf="test==true" class="component">
  <!-- {{cName}} -->
  <!-- Generate form control from model class -->

    CSS_4: {{htmlItems_.cssClass}},{{htmlItems_.name}}
    <div *ngIf="this.htmlItems_.show==true">
    <div [class]="this.htmlItems_.cssClass">
      <ng-container *ngFor="let i_1 of htmlItems_.collection.array">
        <div [class]="i_1.cssClass">
        {{i_1.cssClass}}
          <!-- {{i_1.cssClass}} -->
          <app-nodeitem [htmlItem_]="i_1"></app-nodeitem>
          <!-- <ng-container *ngFor="let i_2 of i_1.collection.array">
            <app-nodeitem [htmlItem_]="i_2"></app-nodeitem>
          </ng-container> -->
        </div>
      </ng-container>
    </div>
    </div>

</ng-container>
<ng-container *ngIf="test==false">

</ng-container>
<ng-container *ngIf="test==false" class="component">
  <div *ngIf="this.htmlItems_.show==true">
  <div [class]="this.htmlItems_.cssClass">
    <ng-container *ngFor="let i_1 of htmlItems_.collection.array">
      <div [class]="i_1.cssClass">  
        <app-nodeitem [htmlItem_]="i_1"></app-nodeitem>
      </div>
    </ng-container>
  </div>
  </div>

</ng-container>
