/*Test*/
/*
.btn{  border: 1px solid #777; }

#menu{ border: 2px dotted #634}
.item{   border: 2px solid #4234}
.list{border: 2px solid #4234}

*/

/*root  color*/
/*
:root {  background-color: darkblue}

//background-color gradient
.container{  box-shadow: 0px 30px 40px rgba(0,0,0,.1);}
*/

/*Page divide*/
/*
html, body { height: 100%; padding: 0; margin: 0; }
.one { margin: 0%}
.two { width: 50%; height: 50%; float: left; }
*/

.input{
  width: 70%;
  height: 35px;
  border: none;
  border:solid 1px;
  border-color: rgb(157, 163, 173);
  border-radius: 15px;
}

.selectarea { margin-top: 8% ; padding:0% }

/*vertical gaps between menu and lsit items*/
.item{
 position: relative;
 margin-top: 2%;
 padding-top: 5%;
 padding-bottom: 0%;

}

.list{
  margin-top: 0%;
  padding-top: 10%;
  padding-bottom: 0%;
}

.editarea{
   position: relative;
}
/*Menu floating on top*/
.menu_edit {
 position: sticky;
 position: -webkit-sticky;
 top: 0;
 margin-top: 2%;
}

.textarea{
  position: fixed;
}

h1 {
  font-size: 50px;
  background: -webkit-linear-gradient(#3E5151, #DECBA4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
