@{
    ViewBag.Title = "QuizConstructor";
    Layout = "~/Views/Shared/_Layout_JsonAngularDriver.cshtml";
}

@model Intranet.Models.QuizModel.Quiz
<title>Конструктор опросов</title>


<body ng-app="myModule" class="container ng-scope">

<div class="col-md-6 col-md-offset-3" ng-controller="FormController">
        <h3>Конструктор опросов</h3>
        <form name="ngform" sf-schema="schema" sf-form="form" sf-model="model" ng-submit="onSubmit(ngform)"></form>
        <script type="text/javascript">

            angular.module('myModule', ['schemaForm', 'angularSchemaFormBase64FileUpload']).config(function(base64FileUploadConfigProvider) {
                    console.log(base64FileUploadConfigProvider);
                    base64FileUploadConfigProvider.setDropText('New');
                })
             .controller('FormController', function ($scope, $http) {
                 $http.get('Scripts/CustomScripts/QuizJsonEditorForm/Json/JsonSchemas/ConstructorSchema.json').then(function (msg) { $scope.schema = msg.data; });
                 $http.get('Scripts/CustomScripts/QuizJsonEditorForm/Json/JsonForms/ConstructorForm.json').then(function (msg) { $scope.form = msg.data; });

                 $scope.model = @(new HtmlString(ViewBag.Quiz));//( new HtmlString(ViewBag.Quiz));//Html.Raw(Json.Encode(Model));

                 $scope.onSubmit = function (form) {
                     
                     $scope.$broadcast('schemaFormValidate');
                     console.log(JSON.stringify($scope.model));
                     if (form.$valid) {
                         $.ajax
                             ({
                                 url: 'Quiz/Constructor',
                                 type: "post",
                                 data: { 'output': JSON.stringify($scope.model) },
                                 cache: false,
                                 success: function (savingStatus) { window.location.href = '/Quiz/List' ; console.log(JSON.stringify($scope.model))},
                                 error: function (xhr, ajaxOptions, thrownError) {console.log('error') }
                             });
                     } else {
                         console.log('form is not valid');
                     };
                     
                 }
                 
             });

        </script>


    </div>

</body>

