
@{
    Layout = "~/Views/Shared/_Layout_JsonAngularDriver.cshtml";
}
@model Intranet.Models.QuizModel.InfoMessage

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InfoPage</title>
</head>
<body>


    <div class="col-md-6 col-md-offset-3">
        @if (Model.MessageType == Intranet.Models.QuizModel.MessageType.Error)
        {
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Ошибка! </h3>
            </div>
            <div class="panel-body">@Model.MessageText</div>
        </div>
        }
        @if (Model.MessageType == Intranet.Models.QuizModel.MessageType.Info)
        {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Внимание! </h3>
                </div>
                <div class="panel-body">@Model.MessageText</div>
            </div>
        }
        @if (Model.MessageType == Intranet.Models.QuizModel.MessageType.Success)
        {
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Спасибо! </h3>
                </div>
                <div class="panel-body">@Model.MessageText</div>
            </div>
        }
        @if (Model.MessageType == Intranet.Models.QuizModel.MessageType.Warning)
        {
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Внимание! </h3>
                </div>
                <div class="panel-body">@Model.MessageText</div>
            </div>
        }
    </div>
    <div> 
        <h3></h3>
    </div>
</body>
</html>
