
@{
    ViewBag.Title = "Index";
}
<h2>test</h2>

<!doctype html>
<meta charset="utf-8">
<meta name="author" content="Amsul - http://amsul.ca">
<meta name="viewport" content="width=device-width,user-scalable=no">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>Pickadate.js</title>

<link href="~/Scripts/CustomScripts/lib/themes/classic.css" rel="stylesheet" />
<link href="~/Scripts/CustomScripts/lib/themes/classic.date.css" rel="stylesheet" />
<link href="~/Scripts/CustomScripts/lib/themes/classic.time.css" rel="stylesheet" />
<link href="~/Scripts/CustomScripts/QuizJsonEditorForm/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Scripts/CustomScripts/QuizJsonEditorForm/bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/CustomScripts/QuizJsonEditorForm/bootstrap.vertical-tabs.min.css" rel="stylesheet" />


<body ng-app="myModule" class="container ng-scope">

    <script src="http://static.nspk.ru/js/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/CustomScripts/lib/picker.js"></script>
    <script src="~/Scripts/CustomScripts/lib/picker.date.js"></script>
    <script src="~/Scripts/CustomScripts/lib/legacy.js"></script>


    <script src="http://static.nspk.ru/dev/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/CustomScripts/QuizJsonEditorForm/angular.js"></script>


    <script src="http://static.nspk.ru/dev/js/ObjectPath.js"></script>
    <script src="http://static.nspk.ru/dev/js/angular-sanitize.min.js"></script>
    <script src="http://static.nspk.ru/dev/js/tv4.min.js"></script>

    <script src="http://static.nspk.ru/dev/js/schema-form.js"></script>
    <script src="http://static.nspk.ru/dev/js/bootstrap-decorator.min.js"></script>
    <script src="http://static.nspk.ru/dev/js/jquery-ui.min.js"></script>  
    <script src="http://static.nspk.ru/dev/js/sortable.js"></script>     <script src="~/Scripts/CustomScripts/QuizJsonEditorForm/ru_RU.js"></script>

    <base href="/" />
    <script src="~/Scripts/CustomScripts/QuizJsonEditorForm/angular-schema-form.min.js"></script>
    <script src="~/Scripts/CustomScripts/QuizJsonEditorForm/angular-schema-form-bootstrap.min.js"></script>
    <script src="~/Scripts/CustomScripts/QuizJsonEditorForm/bootstrap-decorator.js"></script>
    <script src="~/Scripts/CustomScripts/QuizJsonEditorForm/bootstrap-datepicker.min.js"></script>


<h2>Index</h2>


    </body>

