<ng-container *ngIf="test==true" class="component">
  <p><input type="tel" pattern="[0-9]{1}" placeholder="val2"></p>
  <p><input type="submit" value="Отправить"></p>
  <!-- Input template -->
  <div class="flex-container" style="flex-direction:column;align-items: flex-start;">
    <input type="text"
    [(ngModel)]="inputTypesModel.textbox_.displayValue_"
    [maxlength]="inputTypesModel.textbox_.maxLength_"
    [minlength]="inputTypesModel.textbox_.minLength_"
    [pattern]="inputTypesModel.textbox_.pattern_"
    [placeholder]="inputTypesModel.textbox_.value_"
    (ngModelChange)="changeTextbox_($event)"
    #t>

    <!-- <input type="checkbox" value="check" [checked]="inputTypesModel.checkbox_" (click)="checked_($event)" #c> -->

    <input type="checkbox" value="check" [(ngModel)]="inputTypesModel.checkbox_" (click)="checked_($event)" #c>

    <!--  Radio button colelction-->
    <div class="row" *ngFor="let r of inputTypesModel.radio_.values_">
      <input type="radio"
      [name]="inputTypesModel.radio_.name_"
      [(ngModel)]="inputTypesModel.radio_.val_"
      [value]="r.value_">
      {{r.value_}} <br>
    </div>

    <input type="color" name="favcolor" [(ngModel)]="inputTypesModel.color_">
    <input type="datetime-local" name="ldateinpt" [(ngModel)]="inputTypesModel.dateL_">
    <!--Most universal date part selector-->
    <input type="date" name="dateinpt" [(ngModel)]="inputTypesModel.date_" [value]="2017-06-01">
    <input type="month" [(ngModel)]="inputTypesModel.month_">

    <input type="number" [(ngModel)]="inputTypesModel.number_.value_"
    [min]="inputTypesModel.number_.min_"
    [max]="inputTypesModel.number_.max_">

    <input type="range" name="points" [(ngModel)]="inputTypesModel.range_.value_"
     [min]="inputTypesModel.range_.min_"
     [max]="inputTypesModel.range_.max_">

     <input type="file" [(ngModel)]="inputTypesModel.files_.value_"
     [multiple]="inputTypesModel.files_.multiple_"
     [accept]="inputTypesModel.files_.accept_"
     (change)="files_($event)">

     <input type="image"
     width="50"
     height="50"
     src="https://raw.githubusercontent.com/mdn/learning-area/master/html/forms/image-type-example/login.png">

    <button (click)="c.checked=!c.checked" (click)="t.value=t.value+'a'">Togle</button>
    <br>
    <button (click)="submit_($event)">Submit</button>
    </div>


</ng-container>
<ng-container *ngIf="test==false" class="component">
</ng-container>
