<div>{{className}}</div>
<div>
  <input type="text" [(ngModel)]="question_.value" name="{question_.value}">
    <select #selectedCategory (change)="typeChange(selectedCategory.value)">
      <option *ngFor="let questType of questTypes" [value]="questType">{{questType}}</option>
    </select>
    <button (click)="saveQuestion(question_)" class="btn">Add</button>

<div *ngIf="this.selectedType!='text'">
Add new answer
<div>
<input type="text" [(ngModel)]="newAnswer_.value" name="{newAnswer_.value}">
  <button (click)="addAnswer(newAnswer_)" class="btn">Add</button>
</div>
<div *ngIf="this.question_.options">
  <div *ngFor="let a_ of this.question_.options">
    <answer-component [answer_]="a_" (deleteAnswer_)="deleteAnswerListen($event)"></answer-component>
  </div>
</div>
</div>

</div>
