<ng-container *ngIf="test==true" >
  <ng-container *ngIf="nodeToEdit_!=null">
    <div class="listarea editarea">
      <div class="textinputarea">
         <input type="text" [(ngModel)]="nodeToEdit_.value" size="80" id="input_edit">
         <button class="btn btn-outline-primary" (click)="nodeSave(nodeToEdit_)">Save</button>
         <app-button [_buttons]="editButtons_" [_obj]="nodeToEdit_"></app-button>
      </div>

        <div *ngIf="((nodeTypeGet()=='Quiz') && (nodeToEdit_!=null))">
          CSS1:{{nodeToEdit_.cssClass}},{{nodeToEdit_.name}}
          <app-grps [nodePassed_]="nodeToEdit_.itemParameter"></app-grps>
        </div>

    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="test==false" class="container editarea" id="menu_edit">
  <ng-container *ngIf="nodeToEdit_!=null">
    <div class="row">
       <input type="text" [(ngModel)]="nodeToEdit_.value" size="80" class="input">
       <button class="btn btn-outline-primary" (click)="nodeSave(nodeToEdit_)">Save</button>
       <app-button [_buttons]="editButtons_" [_obj]="nodeToEdit_"></app-button>
    </div>
    <ng-container *ngIf="((nodeTypeGet()=='Quiz') && (nodeToEdit_!=null))">
      <app-grps [nodePassed_]="nodeToEdit_.itemParameter"></app-grps>
    </ng-container>
  </ng-container>
</ng-container>
