<div [formGroup]="form">
  <label [attr.for]="question_6.key">{{question_6.label}}</label>

  <div [ngSwitch]="question_6.controlType">

    <input *ngSwitchCase="'textbox'" [formControlName]="question_6.key"
            [id]="question_6.key" [type]="question_6.type">

    <select [id]="question_6.key" *ngSwitchCase="'dropdown'" [formControlName]="question_6.key">
      <option *ngFor="let opt of question_6.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </div>

  <div class="errorMessage" *ngIf="!isValid">{{question_6.label}} is required</div>
</div>
