  <ng-container *ngIf="_quizes!=null">
    <div *ngFor="let i of _quizes.array">
        <div class="flexCtnr flexRow" style="width:100%">
          <hr>
          <div class="flexCtnr flexCol" style="flex:1">
            <div class="flexCtnr flexRow">
              <app-item [_item]="i"></app-item>
            </div>
          </div>
          <div class="flexCtnr flexCol" style="flex:0">
            <div class="flexCtnr flexRow">
              <app-items [_items]="this._buttons" [_itemsObject]="i" ></app-items>
            </div>
          </div>
        </div>
    </div>
  </ng-container>
