<ng-container *ngIf="test==true" class="container">
  {{cName}}
</ng-container>

<ng-container *ngIf="((test==false) && (items!=null))">
  <ng-container *ngFor="let item of items.collection.array">
  <ng-container *ngIf="item.show!=false">

      <div class="row">
        <div class="col-sm-4">
          <a>{{item.value}}</a>
        </div>

        <div class="col-sm-8">
            <ng-container *ngIf="(item.cssType!=null)">

              <ng-container *ngIf="((item.cssType!='checkbox') && (item.cssType!='text') && (item.cssType!='checkbox'))">
                <input type="{{item.cssType}}" [(ngModel)]="item.valueVal">
              </ng-container>
              <ng-container *ngIf="item.cssType=='text'">
                <input type="{{item.cssType}}" [(ngModel)]="item.valueVal" [value]="item.valueVal">
              </ng-container>
              <ng-container *ngIf="item.cssType=='checkbox'">
                  <input type="{{item.cssType}}" [checked]="item.valueVal" (click)="clicked_(item)">
              </ng-container>

            </ng-container>

            <ng-container *ngIf="item.templateClass=='datepicker'">
              <div class="row">
                <div class="flex-container">
                  <app-datepicker-popup></app-datepicker-popup>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="item.templateClass=='timepicker'">
              <div class="row">
                <div class="flex-container">
                  <app-timepicker></app-timepicker>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="item.templateClass=='gappicker'">
              <div class="row">
                <app-timepicker></app-timepicker>
              </div>
            </ng-container>
        </div>
      </div>

  </ng-container>
  </ng-container>
</ng-container>
