@model List<string>
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FilesPublish</title>
</head>
<body>
    <div>
        filenames: 
        <ul class="list-group">
            @foreach (string file_ in Model)
            {
                <li class="list-group-item-info">@file_</li>
            }
        </ul>
        @Html.ActionLink("Load", "FilesLoad", "Upload");
    </div>
</body>
</html>
