<div class="itemGroup">
<ng-container *ngIf="_quizes!=null">
  <app-menuitem [_quizes]="_quizes" [_buttons]="_buttonsQuiz"></app-menuitem>
</ng-container>
</div>

<div class="itemGroup">
<ng-container *ngIf="_questions!=null">
  <app-menuitem [_quizes]="_questions" [_buttons]="_buttonsQuestion"></app-menuitem>
</ng-container>
</div>

<div class="itemGroup">
<ng-container *ngIf="_answers!=null">
  <app-menuitem [_quizes]="_answers" [_buttons]="_buttonsAnswer"></app-menuitem>
</ng-container>
</div>
