
  <div class="itemGroup">
  <ng-container *ngIf="_quizes!=null">
  <ng-container *ngIf="_quizes.show==true">
    <app-menuitem [_quizes]="_quizes" [_buttons]="_buttonsQuiz"></app-menuitem>
  </ng-container>
  </ng-container>
  </div>

  <div class="itemGroup">
  <ng-container *ngIf="_questions!=null">
  <ng-container *ngIf="_questions.show==true">
    <app-menuitem [_quizes]="_questions" [_buttons]="_buttonsQuestion"></app-menuitem>
  </ng-container>
  </ng-container>
  </div>

  <div class="itemGroup">
  <ng-container *ngIf="_answers!=null">
  <ng-container *ngIf="_answers.show==true">
    <app-menuitem [_quizes]="_answers" [_buttons]="_buttonsAnswer"></app-menuitem>
  </ng-container>
  </ng-container>
