
/*>>>>>>>>>>>>
For pre-scrollable class */
/* width */

::-webkit-scrollbar {
  width: var(--scrollbarWidth);
  height: var(--scrollbarHeight);
  max-width: var(--scrollbarWidth);
  max-height: var(--scrollbarHeight);

  z-index: var(--scrolbarZ);
}

::-webkit-scrollbar:horizontal {
  width: var(--scrollbarWidth);
  height: var(--scrollbarHeight);
  max-width: var(--scrollbarWidth);
  max-height: var(--scrollbarHeight);

  z-index: var(--scrolbarZ);
}

::-webkit-scrollbar-track:vertical {
  width: var(--scrollbarWidth);
  height: var(--scrollbarHeight);
  max-width: var(--scrollbarWidth);
  max-height: var(--scrollbarHeight);

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 15px;
    background-image: var(--scrollbarColorGradBlueVert);
    /* background: red; */
    z-index: calc( var(--scrolbarZ) - 1 );
}

::-webkit-scrollbar-track:horizontal {
  width: var(--scrollbarWidth);
  height: var(--scrollbarHeight);
  max-width: var(--scrollbarWidth);
  max-height: var(--scrollbarHeight);

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-image: var(--scrollbarColorGradBlueHor);
    /* background: green; */
    z-index: calc( var(--scrolbarZ) - 1 );
}


::-webkit-scrollbar-thumb:horizontal {
  width: var(--scrollbarWidth);
  height: var(--scrollbarHeight);
  max-width: var(--scrollbarWidth);
  max-height: var(--scrollbarHeight);

  /* background-color: linear-gradient(90deg,red,green); */
  background-image: var(--scrollbarThumbColorGradBlueHor);
  outline: 1px solid slategrey;
  border-radius: 15px;
  z-index: calc( var(--scrolbarZ) + 1 );
}

::-webkit-scrollbar-thumb:vertical {
  width: var(--scrollbarWidth);
  height: var(--scrollbarHeight);
  max-width: var(--scrollbarWidth);
  max-height: var(--scrollbarHeight);

  /* background-color: linear-gradient(90deg,red,green); */
  background-image: var(--scrollbarThumbColorGradBlueVert);
  outline: 1px solid slategrey;
  border-radius: 15px;
  z-index: calc( var(--scrolbarZ) + 1 );
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:var(--scrollbarThumbHoover);
}


/*>>>
Custom scrollbar class

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;

    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}
.force-overflow {
    min-height: 450px;
}
.scrollbar-primary{
    background-color: #F5F5F5;
}
.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4; }

.scrollbar-danger::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-danger::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-danger::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff3547; }

.scrollbar-warning::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-warning::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-warning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #FF8800; }

.scrollbar-success::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-success::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-success::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #00C851; }

.scrollbar-info::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-info::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-info::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #33b5e5; }

.scrollbar-default::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-default::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-default::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #2BBBAD; }

.scrollbar-secondary::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-secondary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-secondary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #aa66cc; }
*/
