<ng-container *ngIf="test==true" class="container">
  <div class="col-sm-6" style="margin-left:1ch">
      <div class="row">
        {{itemValueDrop_.key}}
      </div>

      <div class="row" *ngFor="let v of itemValueDrop_.values">
        {{v.value}}
        <input type="checkbox" [checked]="v.checked" (click)="clicked_(v)" style="margin-top:0.8ch">
      </div>      

    </div>

</ng-container>
<ng-container *ngIf="test==false" class="container">
  g-container *ngIf="test==true" class="container">
    <div class="col-sm-6" style="margin-left:1ch">
        <div class="row">
          {{itemValueDrop_.key}}
        </div>

        <div class="row" *ngFor="let v of itemValueDrop_.values">
          {{v.value}}
          <input class="form-control" type="checkbox" [(ngModel)]="v.checked" [checked]="v.checked" (click)="clicked_(v)" style="margin-top:0.8ch">
        </div>
      </div>

</ng-container>
