/*for git not empty file*/

.btn{
   border-radius: 10px;

}

.btn-purple{
  color: White;
  background-color: #6b0782;
}
.btn-unique{
  color: White;
  background-color: #72094a;
}
.btn-darkgreen{
  color: White;
  background-color: #247705;
}

.btn-purple-gradient{
  color: White;
  border-radius: 15px;
  border-color: white;
  background: linear-gradient(to bottom right, #db6bb7, #b958bc,#9055cc);
}

.btn-evening-night{
  color: #eae9d0;
  border-radius: 15px;
  border-color: white;
  background: linear-gradient(-165deg, #005AA7, #FFFDE4);
}

.btn-red-sunset{
  color: White;
  border-radius: 15px;
  border-color: white;
  background: linear-gradient(-68deg, #355C7D, #6C5B7B,#C06C84);
}
