/*for git not empty file*/
.jumbotron{
  position:fixed;
  background:rgba(30,40,45,1);
  /* to hide border radius menu */
  margin-bottom: -5px;
}

.back{
  position:absolute;
  height:100vh;
  width:100%;
  z-index:-1;
  /* overflow: hidden; */
}

.jumbotron2{
  position:fixed;
  background:rgba(30,40,45,1);
  /* to hide border radius menu */
  margin-bottom: -5px;
  height:13ch;
  width:100%;
}

.header{
  position:fixed;
  background:rgba(50,60,60,1);
  z-index:0;
  margin-top: 13ch;
  height:7ch;
  width:100%;
  /* margin-top: 0%; */
  border-bottom: solid white;
}

.foreGround{

  position: fixed;
  background-color:rgba(255,255,255,1);

  margin-left: 10%;
  margin-right: 10%;

  height:105vh;
  width: 80%;
  /* margin-top: -20ch; */
  z-index: -1;
  border-radius: 5px;
  /* background:url('/assets/bkgd/1.jpg'); */
  filter: blur(1rem);
}

.passCard{
  position: fixed;
  background-color:rgba(250,250,250,0.8);
  height: 50ch;
  width: 80%;
  margin-top:30ch;
  margin-left: 10%;
  margin-right: auto;

  z-index: 0;
  border-radius: 5px;
  /* filter: blur(2px); */

  box-shadow: 15px 15px 20px 1px rgba(50, 50, 50, 0.5);
}

.cardTxt{
  position: absolute;
  top: 7%;
  left:2%;
}

.cardHdr{
  position: absolute;
  top: 2%;
  left:45%;
}

.rate{
  position: absolute;
  bottom: 2%;
  left:45%;
}
