<ng-container *ngIf="test==true" class="container">
  {{cName}}
    <!-- Html item groups -->
    <!-- <app-grps [nodePassed_]="this.nodeToPass_"></app-grps> -->

    <!-- Multi NG dropbox -->
    <!-- <app-dropdownmulting></app-dropdownmulting> -->

    <!-- <app-dropdownmulti [htmlItem_]="itemsToPass_"></app-dropdownmulti> -->

    <!--Check HtmlItem groups on checked  -->
    <!-- <app-grps [nodePassed_]="this.nodeToPass_"></app-grps> -->

    <!-- Test buttons  -->
    <app-button [_buttons]="this.buttonsToPass_" [_obj]="this.buttonsToPass_"></app-button>

    <!-- menu full check -->
    <!-- <app-menu [nodesPassed_]="nodesToPass_"></app-menu> -->

</ng-container>
