/*Test*/
/*
.btn{  border: 1px solid #777; }

#menu{ border: 2px dotted #634}
.item{   border: 2px solid #4234}
.list{border: 2px solid #4234}

*/

/*root  color*/
/*
:root {  background-color: darkblue}

//background-color gradient
.container{  box-shadow: 0px 30px 40px rgba(0,0,0,.1);}
*/

/*Page divide*/
/*
html, body { height: 100%; padding: 0; margin: 0; }
.one { margin: 0%}
.two { width: 50%; height: 50%; float: left; }
*/

.selectarea { margin-top: 8% ; padding:0% }

/*vertical gaps between menu and lsit items*/
.item{
 position: relative;
 opacity:1;
 margin-top: 2%;
 padding-top: 0%;
 padding-bottom: 0%;
}

.list{
  margin-top: 5%;
}

/*Menu floating on top*/
#menu_edit {
 position: sticky;
 position: -webkit-sticky;
 top: 0;
 margin-top: 2%;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
