<div>{{className}}</div>

<div class="container">
<div class="row">
    <input type="text" [(ngModel)]="question_.value" name="{question_.value}" required minlength="1" #rq="ngModel">
    <div *ngIf="rq.invalid" class="qlert alert-danger">Question text required</div>

    <div ngbDropdown>
      <select class="btn btn-outline-primary" #selectedCategory (change)="typeChange(selectedCategory.value)" ngbDropdownToggle>
        <option class="dropdown-item" *ngFor="let qt of answerTypes_.types_" [value]="qt.type" ><li ngbDropdownMenu>{{qt.name}}</li></option>
      </select>
    </div>

    <button (click)="saveQuestion(question_)" class="btn">Save question</button>

</div>

<hr>

<div>
    {{this.answerTypes_.selected.description}}
</div>
  <div *ngIf="this.answerTypes_.selected.type!='text'">
     <!--*ngIf="this.answerTypes_.selected.type!='text'"-->
     Add new answer
     <div>
      <input type="text" [(ngModel)]="newAnswer_.value" required minlength="1" #rq="ngModel">
      <div *ngIf="rq.invalid" class="qlert alert-danger">Answer required</div>
      <button (click)="addAnswer(newAnswer_)" class="btn">Add</button>
    </div>
  </div>

  <div *ngIf="this.question_.options">
    <div *ngFor="let a_ of this.question_.options">
      <answer-component [answer_]="a_" (deleteAnswer_)="deleteAnswerListen($event)"></answer-component>
    </div>
  </div>

</div>



<hr>



<div class="dropdown">
<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
Dropdown
<span class="caret"></span>
</button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
<li><a href="#">Action</a></li>
<li><a href="#">Another action</a></li>
<li><a href="#">Something else here</a></li>
<li role="separator" class="divider"></li>
<li><a href="#">Separated link</a></li>
</ul>
</div>


     <div class="btn-group" uib-dropdown is-open="status.isopen" ngbDropdown>
       <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled" ngbDropdownToggle>
         Button dropdown
       </button>
       <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ngbDropdownMenu>
         <li class="dropdown-item">Action</li>
         <li class="dropdown-item" role="menuitem"><a href="#">Another action</a></li>
         <li role="menuitem"><a href="#">Something else here</a></li>
         <li class="divider"></li>
         <li role="menuitem"><a href="#">Separated link</a></li>
         <button class="dropdown-item">Action - 1</button>
         <button class="dropdown-item">Another Action</button>
       </div>
     </div>


<div ngbDropdown>
  <button class="btn btn-outline-primary" id="dropdownMenu3" ngbDropdownToggle>Toggle</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu3" ngbDropdownMenu>
    <button class="dropdown-item">Action - 1</button>
    <button class="dropdown-item">Another Action</button>
    <button class="dropdown-item">Something else is here</button>
  </div>
</div>
