:root {
  --backgroundZ:0;
  --menuZ:1;
  --shadowZ:3;
  --inputZ:2;
  --scrolbarZ:7;

  --menuBorderRads:15px;

  --vH_:100vh;

  --editAreaHeight:calc(var(--vH_)/2.1);

  --listAreaH:calc((var(--vH_) - var(--editAreaHeight)) - 5vh);


  /* --shadowHeight:10vh; */
  --shadowHeight:calc(var(--listAreaH) / 6);
  --shadowBottom:calc(var(--listAreaH) - var(--shadowHeight)) ;
  /* --shadowBottom:40vh; */

  --topGradRad:0deg;
  --bottomGradRad:0deg;

  --tealBackground:linear-gradient(0deg, rgba(0, 0, 0,0.0) ,rgba(207, 199, 248,1) , rgba(171, 244, 233,1));
  --tealShadowListTop:linear-gradient(180deg
  ,rgba(171, 244, 233,0.9) 1%
  ,rgba(171, 244, 233,1) 5%
  ,rgba(237, 230, 250,0.8) 50%
  ,rgba(255, 255, 255,0.05) 80%
  ,rgba(255, 255, 255,0.0) );
  --tealGradTop: linear-gradient(0deg  ,rgba(171, 244, 233,1) ,rgba(207, 199, 248,1) ,  rgba(0,0,0,0.0) );

  --ShadowTopWhite:  linear-gradient(0deg
    ,rgba(255,255,255,0) 0%
    ,rgba(255,255,255,0.5) 30%
    ,rgba(255,255,255,0.9) 60%
    ,rgba(255,255,255,1) 100%
    ) ;

  --ShadowBottomWhite:  linear-gradient(180deg
    ,rgba(255,255,255,0) 0%
    ,rgba(255,255,255,0.3) 30%
    ,rgba(255,255,255,0.75) 60%
    ,rgba(255,255,255,1) 100%
    ) ;

  --shadowTop2:  linear-gradient(0deg
    ,rgba(78,182,119,0) 0%
    ,rgba(78,182,119,0.2) 15%
    ,rgba(66,163,132,0.8) 25%
    ,rgba(38,117,160,1) 80%
    ,rgba(26,98,172,1) 90%
    ,rgba(26,98,172,1) 100%
    ) ;
}
