<!-- <p> button works!</p> -->

<ng-container>
  <ng-container *ngIf="_button!=null">
    <ng-container *ngIf="_button.show==true">

    <ng-container *ngIf="_button._toolTipText!=null">
      <button [disabled]=_button._disabled
      [class]="_button.cssClass"
      data-toggle="tooltip"
      data-placement="top"
      title="{{_button._toolTipText}}"
      (click)="clicked_($event)">{{_button._value}}
      </button>
    </ng-container>

    <ng-container *ngIf="_button._toolTipText==null">
      <button [disabled]=_button._disabled
      [class]="_button.cssClass"
      (click)="clicked_($event)">{{_button._value}}
      </button>
    </ng-container>

    </ng-container>
  </ng-container>
</ng-container>
