/* You can add global styles to this file, and also import other style files */
@import './assets/bootstrap.css';
@import './assets/bootstrap-theme.css';
@import './assets/common.css';
@import './assets/vars_.css';
@import './assets/grads.css';
@import './assets/scrollbars.css';
