$def with (greeting,f,ConnectStr)

<html>
    <head>
        <title>Gothons Of Planet Percal #25</title>
    </head>
<body>

$if greeting:
    I just wanted to say <em style="color: green; font-size: 2em;">$greeting</em>.
$else:
    <em>Hello</em>, world!

	
<form action="query">
<textarea name="message" rows="10" cols="30">
Insert SQL here
</textarea>
<br><br>
<input type="submit">
</form>

<form action="query" name="main" >
$:f.render()
<input type="submit" />
</form>


</body>
</html>