<!doctype html>
<html ng-app="myApp">
<head>
	<script type="text/javascript" src="C:\workflow\projects\common\js\angular.min.js"></script>
	<script type="text/javascript" src="C:\workflow\projects\common\js\jquery-3.2.1.min.js"></script>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>-->
	<script type="text/javascript" src="C:\workflow\projects\JS\angularjs\js.js"></script>

</head>
<body>

	<h3>Todo</h3>
	<div ng-controller="GreetingController">
		{{ greeting }}
	</div>

	<h3>ToCount</h3>
	<div ng-controller="CountController">
	Two times <input ng-model="num"> equals {{ double(num) }}
	</div>

	<h3>ToLog</h3>
	<div ng-controller="LogController">
	[ <a href="" ng-click="log_()">Log</a> ]
	[ <a href="" ng-click="thErr_()">ThrowErrorLog</a> ]
	[ <a href="" ng-click="callCatch_(thErr_)">InjectFunction</a> ]

	</div>

	<h3>ToList</h3>
	<div ng-controller="ListController">
	URL body<br>
	<input size="80" ng-model="url" ng-change="bindURL_(url)"> <br>
	Input body<br>
	<textarea  rows="6" cols="81" ng-model="data_">Input body here</textarea ><br>
		[<a href="" ng-click="POST_(data_)">POST_</a>]
		[<a href="" ng-click="PUT_(data_)">PUT_</a>]
		[<a href="" ng-click="GET_js(data_)">GET_js</a>]
		[<a href="" ng-click="GET_txt(data_)">GET_txt</a>]
		[<a href="" ng-click="GET_http(data_)">GET_http</a>]
	</div>

	<div>

	<h3>Sort array</h3>
	<div ng-controller="TestController">

		<div class=" c-wraper" ng-show="ownnewsShow" ng-repeat="item in array">
			<div class="card-header fg-white">
					<p>{{item.date}}</p>
			</div>
		</div>

		[<button  ng-click="ArrSorttest()">SortAsc</button>]
		[<button  ng-click="ArrSorttestDesc()">SortDes</button>]
	</div>

	</div>
</body>
</html>
