<ng-container *ngIf="test==true" class="container">
  <hr/>
  <pre>Model: {{ model | json }}</pre>
</ng-container>

<ng-container *ngIf="test==false">
<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd hh:mm:ss"
             name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
          <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer; border-radius: 15px;"/>
        </button>

        <button class="btn btn-sm btn-outline-primary mr-2" (mouseup)="selectToday()"(click)="changed()">Select Today</button>
        <!--<span class="glyphicon glyphicon-asterisk"></span>-->
        <!--<span class="glyphicons glyphicons-glass"></span>-->
      </div>
    </div>
  </div>
</form>
</ng-container>
