<ng-container *ngIf="test==true" class="container">

  <H1>{{cName}}</H1>
  <div class="flex-container shlistrow">
    <ng-container *ngFor="let itm of itemValueArr_">
      <app-gappicker-ng [itemValue_]="itm"></app-gappicker-ng>
    </ng-container>
  </div>
  <div class="flex-container shlistrow">
    <ng-container *ngFor="let itmDr of itemValueArrDrop_">
      <app-gappicker-drop [itemValueDrop_]="itmDr"></app-gappicker-drop>
    </ng-container>
  </div>
</ng-container>
<ng-container *ngIf="test==false" class="container">

    <H1>{{cName}}</H1>
    <div class="flex-container shlistrow">
      <ng-container *ngFor="let itm of itemValueArr_">
        <app-gappicker-ng [itemValue_]="itm"></app-gappicker-ng>
      </ng-container>
    </div>
    <div class="flex-container shlistrow">
      <ng-container *ngFor="let itmDr of itemValueArrDrop_">
        <app-gappicker-drop [itemValueDrop_]="itmDr"></app-gappicker-drop>
      </ng-container>
    </div>

</ng-container>
